@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.dark {
  @apply bg-slate-800 text-zinc-400 border-gray-700;
}

.darkMode__icon {
  @apply h-9 w-9 text-yellow-400;
}

.nav__list {
  @apply flex items-center gap-3 font-semibold text-black p-3;
}

.select {
  @apply bg-indigo-300 rounded-lg text-white;
}

.dark .nav__list {
  @apply text-zinc-400;
}

.dark .select {
  @apply bg-indigo-700 text-zinc-200;
}
